/* Masters */
body {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    color: #fff;
}

/* Content */
.cover{
    position: absolute;
    background-color: #0D152D;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D152D;
    height: 100vh;
    width: 100vw;
}

/* Heart */

.heart {
    height: 60px;
    width: 60px;
    background: #FF4343;
    transform: rotateZ(-45deg);
    box-shadow: -10px 10px 90px #FF4343;
    border-radius: 0px 0px 0px 2px;
}

.heart::before {
    content: '';
    height: 60px;
    width: 60px;
    position: absolute;
    top: -50%;
    background-color: #FF4343;
    border-radius: 45px;
    box-shadow: -10px 10px 90px #FF4343;
}

.heart::after {
    content: '';
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50%;
    background-color: #FF4343;
    border-radius: 45px;
    box-shadow: -10px 10px 90px #FF4343;
}

.heart:hover,.heart:hover::after,.heart:hover::before {
    height: 65px;
    width: 65px;
}

/* Text */
.hide {
    display: none;
}

.cover p {
    font-size: 1.5rem;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .text {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}
